<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
my details
{% if data %}

<table border="2">
    <tr>
        <td>s.no</td>
        <td>name</td>
        <td>city</td>
        <td>prfession</td>
    </tr>

{% for i in data %}
   
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.n}}</td>
    <td>{{i.c}}</td>
    <td>{{i.r}}</td>
</tr>


{% endfor %}
</table>

{% endif %}

    
</body>
</html>